.app {
  text-align: center;
}
table > tbody > tr > td {
  background-color: #fafafa;
  height: 75px;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
table > tbody > tr > td:hover {
  background-color: #E31837;
  color: #ffb81c;
  cursor: pointer;
}

input[type="text"] {
  border: none;
  width: 50%;
  margin: 0 auto;
  background-color: #fafafa;
}